{% extends 'base.html.twig' %}

{% block nav %}
    <nav class="navHome">
        <ul class="ulHome">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('public.homepage') }}">
                        <div class="navIcon">
                            <div class="logoGrey"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin.campaign.list') }}" title="Admin">
                        <div class="navIcon">
                            <i class="fa fa-cogs fa-3x navI"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="Admin">
                        <div class="navIcon">
                            <i class="fa fa-check-square fa-3x navI"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ path('admin.home') }}" title="Admin">
                        <div class="navIcon">
                            <i class="fa fa-users fa-3x navI"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" title="Admin">
                        <div class="navIcon">
                            <i class="fa fa-user fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li>
                    <a href="/logout" title="Déconnexion">
                        <div class="navIcon">
                            <i class="fa fa-power-off fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{{ path('public.login') }}">
                        <div class="navIcon">
                            <i class="fa fa-lock fa-3x navI"></i>
                        </div>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <div class="admin index page-wrap">
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type ? type : '' }}">
                        {{ message|trans({}, domain|default('messages')) }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% block main %}
        {% endblock %}
    </div>
{% endblock %}