{% extends 'AppBundle::layoutAdmin.html.twig' %}

{% block body %}
    <h1>Campaign list</h1>
    <table>
        <thead>
            <th>Nom</th>
            <th>Description</th>
            <th>date de début</th>
            <th>date de fin</th>
            <th>Créateur</th>
        </thead>
        <tbody>
            {% for campaign in campaigns %}
            <tr>
                <td><a href="{{ path('admin.campaign.show', {'campaignId': campaign.id}) }}">{{ campaign.name }}</a></td>
                    <td>{{ campaign.description }}</td>
                    <td>{{ campaign.beginningDate }}</td>
                    <td>{{ campaign.endDate }}</td>
                    <td>{{ campaign.creator.firstName }} {{ campaign.creator.lastName }}</td>
                    <td><img src="campaignImages/{{ campaign.imageName }}" /></td>
                    <td>
                        <a href="{{ path('admin.campaign.delete', {'campaignId': campaign.id}) }}">Delete</a>
                        <a href="{{ path('admin.campaign.update', {'campaignId': campaign.id}) }}">Modify</a>
		    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('admin.campaign.create') }}">Add campaign</a>
{% endblock %}
