{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
    <div class="col-md-6">
        {{ form_start(realisationRegistrationForm, {'action': path('public.realisation.register', {'campaignId': campaign.id}) }) }}
        <div class="form-group">
            {{ form_label(realisationRegistrationForm.identity.firstName) }}
            {{ form_widget(realisationRegistrationForm.identity.firstName, { 'attr': { 'class': 'form-control' } }) }}
            
            {{ form_label(realisationRegistrationForm.identity.lastName) }}
            {{ form_widget(realisationRegistrationForm.identity.lastName, { 'attr': { 'class': 'form-control' } }) }}

            {{ form_label(realisationRegistrationForm.identity.email) }}
            {{ form_widget(realisationRegistrationForm.identity.email, { 'attr': { 'class': 'form-control' } }) }}
        </div>

        {{ form_end(realisationRegistrationForm) }}
    </div>
{% endblock %}