{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <p class="wc-admin-welcome"></p>
    <div class="wc-container">
        <div class="col-sm-12">

            {{ form_start(campaignCreationForm, {'action': path('admin.campaign.create') }) }}
            <div class="wc-admin-block">
                <p class="wc-admin-subtitle">Ajout d'une campagne</p>

                <div class="wc-admin-row">
                    {{ form_label(campaignCreationForm.name) }}
                    {{ form_widget(campaignCreationForm.name, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'Nom'}}) }}

                    {{ form_label(campaignCreationForm.publicResults, 'Les résultats setont-ils public ?') }}
                    {{ form_widget(campaignCreationForm.publicResults, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                    {{ form_label(campaignCreationForm.description) }}
                    {{ form_widget(campaignCreationForm.description, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'description'}}) }}

                    {{ form_label(campaignCreationForm.notation.markType) }}
                    {{ form_widget(campaignCreationForm.notation.markType, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                    {{ form_label(campaignCreationForm.notation.markTypeNumber) }}
                    {{ form_widget(campaignCreationForm.notation.markTypeNumber, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'Notation sur combien ?'}}) }}

                    {{ form_label(campaignCreationForm.image) }}
                    {{ form_widget(campaignCreationForm.image, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                    {{ form_label(campaignCreationForm.beginningDate) }}
                    {{ form_widget(campaignCreationForm.beginningDate, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'beginningDate'}}) }}

                    {{ form_errors(campaignCreationForm.endDate) }}
                    {{ form_label(campaignCreationForm.endDate) }}
                    {{ form_widget(campaignCreationForm.endDate, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'endDate'}}) }}
                </div>

                {{ form_widget(campaignCreationForm.submit, {'attr': {'class': 'btn-admin-form', 'value': 'valider'}}) }}

            </div>
            {{ form_end(campaignCreationForm) }}

        </div>
    </div>
{% endblock %}
