{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
<div class="wc-title-banner">
    <h2>Ajout d'une campagne</h2>
</div>
<div class="wc-container">
    <div class="col-sm-12">
        <div class="wc-admin-block">
            <div class="row">
            <div class="formLogin" style="text-align: left;padding-left: 4px;">

                {{ form_start(campaignCreationForm, {'action': path('admin.campaign.create') }) }}
                    {{ form_errors(campaignCreationForm) }}

                    {{ form_errors(campaignCreationForm.name) }}
                    {{ form_label(campaignCreationForm.name, 'Nom') }}
                    {{ form_widget(campaignCreationForm.name, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'Nom'}}) }}

                    {{ form_errors(campaignCreationForm.publicResults) }}
                    {{ form_label(campaignCreationForm.publicResults, 'Les résultats seront-ils public ?') }}
                    {{ form_widget(campaignCreationForm.publicResults, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                    {{ form_errors(campaignCreationForm.description) }}
                    {{ form_label(campaignCreationForm.description) }}
                    {{ form_widget(campaignCreationForm.description, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'description'}}) }}

                    <div class="mark-type-switcher">
                        {{ form_errors(campaignCreationForm.notation.markType) }}
                        {{ form_label(campaignCreationForm.notation.markType, 'Type de notation') }}
                        {{ form_widget(campaignCreationForm.notation.markType, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                        <div class="mark-type-number">
                            {{ form_errors(campaignCreationForm.notation.markTypeNumber) }}
                            {{ form_label(campaignCreationForm.notation.markTypeNumber, 'Echelle de notation') }}
                            {{ form_widget(campaignCreationForm.notation.markTypeNumber, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'Notation sur combien ?'}}) }}
                        </div>
                    </div>

                    {{ form_errors(campaignCreationForm.image) }}
                    {{ form_label(campaignCreationForm.image, 'Image') }}
                    {{ form_widget(campaignCreationForm.image, {'attr': {'class': 'wc-admin-inputForm'}}) }}

                    {{ form_errors(campaignCreationForm.beginningDate) }}
                    {{ form_label(campaignCreationForm.beginningDate, 'Date de début') }}
                    {{ form_widget(campaignCreationForm.beginningDate, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'beginningDate'}}) }}

                    {{ form_errors(campaignCreationForm.endDate) }}
                    {{ form_label(campaignCreationForm.endDate, 'Date de fin') }}
                    {{ form_widget(campaignCreationForm.endDate, {'attr': {'class': 'wc-admin-inputForm', 'placeholder': 'endDate'}}) }}

                    <button type="submit" class="btnLogin">Créer</button>
                {{ form_end(campaignCreationForm) }}
            </div>
           </div>
        </div>

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/notationTypeSwitcher.js') }}"></script>
{% endblock %}
