{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <div class="wc-title-banner">
        <h2>Réalisation</h2>
    </div>

    <div class="wc-container">
        <div class="col-sm-12">
            <div class="wc-admin-block">
                 <div class="formLogin">
                     {{ form_start(form) }}

                     {{ form_errors(form.email) }}
                        <div class="flex">
                            {{ form_label(form.email, 'E-mail') }}
                            {{ form_widget(form.email, {'attr': {'placeholder' : 'E-mail', 'class': 'inputLogin'}}) }}
                        </div>

                        <button type="submit" class="btnLogin">Inviter</button>
                     {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
