{% extends 'AppBundle:Admin:layoutAdmin.html.twig' %}

{% block body %}
    <h1>Campaign</h1>
    <div class="col-md-6">
        {{ dump(campaign) }}
	<a href="{{ path('admin.campaign.delete', {'campaignId': campaign.id}) }}">Delete</a>
	<a href="{{ path('admin.campaign.update', {'campaignId': campaign.id}) }}">Modify</a>
	<a href="{{ path('admin.realisation.create', {'campaignId': campaign.id}) }}">Add realisation</a>
	<a href="{{ path('admin.juror.invite', {'campaignId': campaign.id}) }}">Add juror</a>
	<a href="{{ path('admin.campaign.list') }}">Back to list</a>
    </div>
{% endblock %}
