{% extends 'AppBundle:Admin:layoutAdmin.html.twig' %}

{% block body %}
    <div class="admin page-wrap">
        <div class="wc-title-banner">
            <h2>Campaign</h2>
        </div>
        <div class="wc-container">
            <div class="col-sm-12">
                <div class="wc-admin-block">
                    <div class="wc-admin-row">
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Nom de la campagne</td>
                                        <td>Description</td>
                                        <td>Début</td>
                                        <td>Fin</td>
                                        <td>Créateur</td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td>{{ campaign.name }}</td>
                                    <td>{{ campaign.description }}</td>
                                    <td>{{ campaign.beginningDate }}</td>
                                    <td>{{ campaign.endDate }}</td>
                                    <td>{{ campaign.creator.firstName }} {{ campaign.creator.lastName }}</td>
                                </tr>
                            </table>
                            <a href="{{ path('admin.juror.invite', {'campaign': campaign.id}) }}" class="btn-admin-form btn-modify">Inviter un juré</a>
                            <a href="{{ path('admin.campaign.delete', {'campaignId': campaign.id}) }}" class="btn-admin-form btn-modify">Supprimer</a>
                            <a href="{{ path('admin.campaign.update', {'campaignId': campaign.id}) }}" class="btn-admin-form btn-modify">Modifier</a>
                            <a href="{{ path('admin.realisation.create', {'campaignId': campaign.id}) }}" class="btn-admin-form btn-modify">Ajouter une réalisation</a>
                            <a href="{{ path('admin.campaign.list') }}" class="btn-admin-form btn-modify">Retour liste</a>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Nom de la réalisation</td>
                                        <td>Fichier</td>
                                        <td>Candidats</td>
                                        <td>Actions</td>
                                    </tr>
                                </thead>
                                {% for realisation in realisations %}
                                <tr>
                                    <td><a href="{{ path('admin.realisation.show', {'realisationId': realisation.id}) }}">{{ realisation.name }}</a></td>
                                    <td><a href="{{ asset(realisation.filePath) }}">Télécharger</a></td>
                                    <td>{{ realisation.candidates }}</td>
                                    <td>
                                        <a href="{{ path('admin.realisation.delete', {'realisationId': realisation.id}) }}"><button type="button" class="btn-admin-form btn-modify" name="button">Supprimer</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
