{% extends '@App/layoutBO.html.twig' %}
{% block main %}
    <div class="wc-title-banner">
        <h2>Editer mon profil</h2>
    </div>
    <div class="wc-container">
        <div class="col-sm-12">
            <div class="wc-admin-block">
                <div class="formLogin">
                   {{ app.user.identity.email }}
                    {{ form_start(form) }}
                        {{ form_errors(form)}}

                        {{ form_errors(form.firstName)}}
                        {{ form_widget(form.firstName, {'attr': {'class': 'inputLogin', 'placeholder': "Prénom"}}) }}

                        {{ form_errors(form.lastName)}}
                        {{ form_widget(form.lastName, {'attr': {'class': 'inputLogin', 'placeholder': "Nom"}}) }}

                        {{ form_errors(form.officialGroup)}}
                        {{ form_widget(form.officialGroup, {'attr': {'class': 'inputLogin', 'placeholder': "Entité de ratachement"}}) }}


                        {{ form_errors(form.password.first)}}
                        {{ form_widget(form.password.first, {'attr': {'class': 'inputLogin', 'placeholder': "Mot de passe"}}) }}
                        {{ form_widget(form.password.second, {'attr': {'class': 'inputLogin', 'placeholder': "Mot de passe repété"}}) }}

                        <button type="submit" class="btnLogin">Editer</button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
