{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <div class="wc-title-banner">
        <h2>Bonjour, {{ app.user.identity.firstName ~ ' ' ~ app.user.identity.lastName }}</h2>
    </div>

    <div class="wc-container">
        <div class="col-sm-12">
            <div class="wc-admin-block">
                <div>
                    <div class="col-sm-4">
                        <div class="wc-admin-block">
                            <p class="wc-admin-subtitle">Campagnes</p>

                            <a href="{{ path('admin.campaign.create') }}">
                                    <button type="button" class="btn-admin-form btn-add" name="button">Ajouter</button>
                            </a>
                            <div class="wc-admin-row">
                                {% for campaign in campaigns %}

                                    <a href="{{ path('admin.campaign.show', {'campaign': campaign.id}) }}"><p class="wc-admin-p">{{ campaign.name}}</p></a>
                                {% endfor %}
                            </div>
                            <a href="{{ path('admin.campaign.list') }}"><p class="wc-admin-seeAll">Voir plus</p></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wc-admin-block">
                            <p class="wc-admin-subtitle">Réalisations</p>
                            <div class="wc-admin-row">
                                {% for realisation in realisations %}
                                    <a href="{{ path('admin.realisation.show', {'realisation': realisation.id}) }}"><p class="wc-admin-p">{{ realisation.name}}</p></a>
                                {% endfor %}
                            </div>
                            <a href="{{ path('admin.realisation.list') }}"><p class="wc-admin-seeAll">Voir plus</p></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="wc-admin-block">
                            <p class="wc-admin-subtitle">Gestion des utilisateurs</p>
                            <a href="{{ path('admin.admins.invite') }}"><button type="button" class="btn-admin-form" name="button">Ajouter</button></a>
                            <div class="wc-admin-row">
                                {% for user in users %}
                                    <p class="wc-admin-p">{{ user.identity.lastName }} {{ user.identity.firstName }}</p>
                                {% endfor %}
                            </div>
                            <a href="{{ path('admin.user.list') }}"><p class="wc-admin-seeAll">Voir plus</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}