{% extends 'AppBundle::navbarBO.html.twig' %}

{% block body %}
    <p class="wc-admin-welcome"></p>
    <div class="wc-container">

        <div class="col-sm-12">
            {{ form_start(form) }}
            {{ form_errors(form.email) }}
            {{ form_label(form.email, '', {'label_attr': {'class': 'inputLogin'}}) }}
            {{ form_widget(form.email) }}

            {{ form_label(form.submit, '', {'label_attr': {'class': 'btnLogin'}}) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
