{% extends '::base.html.twig' %}

{% block header %}
    <header>
    </header>
{% endblock %}

{% block nav %}
    <nav class="navHome">
        <ul class="ulHome">

            <li>
                <a href="">
                    <div class="navIcon">
                        <div class="logoGrey"></div>
                    </div>
                </a>

            </li>
            <li>
                <a href="{{ path('admin.campaign.list') }}" title="Gestion des campagnes">
                    <div class="navIcon">
                        <i class="fa fa-cogs fa-3x navI"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="" title="Notation">
                    <div class="navIcon">
                        <i class="fa fa-check-square fa-3x navI"></i>
                    </div>
                </a>

            </li>
            <li>
                <a href="" title="Gestion des utilisateurs">
                    <div class="navIcon">
                        <i class="fa fa-users fa-3x navI"></i>
                    </div>
                </a>

            </li>
            <li>
                <a href="{{ path('user.profile.edit') }}" title="Voir et éditer son compte">
                    <div class="navIcon">
                        <i class="fa fa-user fa-3x navI"></i>
                    </div>
                </a>

            </li>
            <li>
                <a href="/logout" title="Déconnexion">
                    <div class="navIcon">
                        <i class="fa fa-power-off fa-3x navI"></i>
                    </div>
                </a>

            </li>
        </ul>
    </nav>
{% endblock %}


{% block footer %}
    <nav>
        TODO : Debug Only
        <a href="{{ path('admin.administrator.list') }}">Administrators</a> |
        <a href="{{ path('admin.campaign_administrator.list') }}">Campaign Administrators</a> |
        <a href="{{ path('admin.campaign.list') }}">Campaigns</a> |
        <a href="{{ path('admin.realisation.list') }}">Realisations</a>
    </nav>
    <div class="wc-footer">
        <div class="col-sm-1 footer-empty">
        </div>
        <footer class="col-sm-11 footer-container">
            <div class="col-sm-6 padding-60">
                <h3>Work Competition</h3>
                <p>Propulsé par Eddie Barraco, Corentin Bouix, Alan Ridard, Anthony Visocchi</p>
            </div>
            <div class="col-sm-offset-3 col-sm-3">
                <ul>
                    <li>Work Competition - 2017</li>
                    <li>A propos</li>
                </ul>
            </div>
        </footer>
    </div>
{% endblock %}
