{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <div class="wc-title-banner">
        <h2>Voir tous les administrateurs</h2>
    </div>
    <div class="wc-container">
        <div class="col-sm-12">
            <div class="wc-admin-block">
                <div class="row no-margin">
                    <p class="col-sm-12 wc-admin-subtitle">Gestion des utilisateurs</p>
                </div>
                <div class="wc-admin-row">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr style="text-align: left;">
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>E-mail</th>
                                    <th>Rôle</th>

                                </tr>
                            </thead>
                            {% for user in users %}
                                <tr style="text-align: left;">
                                    <td class="col-md-3">
                                        {{ user.identity.lastname }}
                                    </td>
                                    <td class="col-md-3">
                                        {{ user.identity.firstname }}
                                    </td>
                                    <td class="col-md-3">
                                        {{ user.identity.email }}
                                    </td>
                                    <td class="col-md-3">
                                        {{ user.roles.0 }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <a href="{{ path('admin.admins.invite') }}">
                            <button type="button" class="btn-admin-form btn-add" name="button" style="margin-bottom: 10px;">
                                Inviter un utilisateur
                            </button>
                        </a>
                        <div class="row">
                            <a class="col-md-3" href="{{ path('admin.user.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Tous</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.juror.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Jurés</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.administrator.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Administrateurs</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.campaign_administrator.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Administrateurs de campagne
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
