{% extends 'AppBundle::navbarFO.html.twig' %}

{% block body %}
    <div class="admin index page-wrap">
        <div class="wc-title-banner">
            <h2>Connexion</h2>
        </div>
        {% if app.session.flashbag.peekAll|length > 0 %}
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type ? type : '' }}">
                        {{ message|trans({}, domain|default('messages')) }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="wc-container">
            <div class="col-sm-12">
                <div class="wc-admin-block">
                    {{ error }}

                    <form action="{{ path('public.login') }}" method="post" class="formLogin">
                        <input type="text" class="inputLogin" placeholder="Username" id="username" name="_username" value="{{ lastUsername }}"/>

                        <input type="password" class="inputLogin" placeholder="password" id="password" name="_password"/>

                        {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                        #}

                        <button type="submit" class="btnLogin">login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

