{% extends 'AppBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="admin page-wrap">
        <div class="wc-title-banner">
            <h2>Création réalisations</h2>
        </div>
        <div class="wc-container">
            <div class="col-sm-12">
                <div>
                    {{ form_start(realisationCreationForm) }}
                        {{ form_label(realisationCreationForm.name) }}
                        {{ form_widget(realisationCreationForm.name, {'attr': {'placeholder': 'Nom de la réalisation'}}) }}
                        {{ form_label(realisationCreationForm.identity.firstName) }}
                        {{ form_widget(realisationCreationForm.identity.firstName, {'attr': {'placeholder': 'Prénom'}}) }}
                        {{ form_label(realisationCreationForm.identity.lastName) }}
                        {{ form_widget(realisationCreationForm.identity.lastName, {'attr': {'placeholder': 'Nom'}}) }}
                        {{ form_label(realisationCreationForm.identity.email) }}
                        {{ form_widget(realisationCreationForm.identity.email, {'attr': {'placeholder': 'email'}}) }}
                        {{ form_label(realisationCreationForm.file) }}
                        {{ form_widget(realisationCreationForm.file, {'attr': {'placeholder': 'file'}}) }}
                        {{ form_errors(realisationCreationForm.file) }}

                        {{ form_widget(realisationCreationForm.submit, {'attr': {'value': 'valider'}}) }}
                    {{ form_end(realisationCreationForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
