{% extends 'AppBundle:Default:layout.html.twig' %}

{% block body %}
    <div class="page-wrap">
        {{ form_start(realisationRegistrationForm)  }}
        <div class="form-group">
            {{ form_label(realisationRegistrationForm.identity.firstName) }}
            {{ form_widget(realisationRegistrationForm.identity.firstName, { 'attr': { 'class': 'form-control' } }) }}

            {{ form_label(realisationRegistrationForm.identity.lastName) }}
            {{ form_widget(realisationRegistrationForm.identity.lastName, { 'attr': { 'class': 'form-control' } }) }}

            {{ form_label(realisationRegistrationForm.identity.email) }}
            {{ form_widget(realisationRegistrationForm.identity.email, { 'attr': { 'class': 'form-control' } }) }}
        </div>
        {{ form_end(realisationRegistrationForm) }}
    </div>
{% endblock %}
