{% extends 'AppBundle::layoutFO.html.twig' %}

{% block main %}
    <div class="page-wrap">
        <div class="wc-title-banner">
            <h2>Envoi d'une réalisation</h2>
        </div>
        <div class="wc-container row">
            <div class="col-sm-12">
                <div class="formLogin">
                    {{ form_start(realisationRegistrationForm) }}
                        {{ form_errors(realisationRegistrationForm) }}

                        {{ form_label(realisationRegistrationForm.name, 'Nom') }}
                        {{ form_widget(realisationRegistrationForm.name, {'attr': {'placeholder': 'Nom de la réalisation', 'class': 'wc-admin-inputForm'}}) }}

                        {{ form_label(realisationRegistrationForm.file, 'Fichier') }}
                        {{ form_errors(realisationRegistrationForm.file) }}
                        {{ form_widget(realisationRegistrationForm.file, {'attr': {'placeholder': 'file', 'class': 'wc-admin-inputForm'}}) }}

                        {{ form_label(realisationRegistrationForm.candidates, 'Candidats') }}
                        {{ form_errors(realisationRegistrationForm.candidates) }}
                        {{ form_widget(realisationRegistrationForm.candidates) }}
                        <a href="#" id="add-another-candidate" class="wc-btn btn-add" style="display: block;">Ajouter un candidat</a>

                        <button type="submit" class="btnLogin">Déposer la réalisation</button>
                    {{ form_end(realisationRegistrationForm) }}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var candidateCount = '{{ realisationRegistrationForm.candidates|length }}';

        jQuery(document).ready(function() {
            $collectionHolder = $('div.candidates');

            $collectionHolder.find('div').each(function() {
                addTagFormDeleteLink($(this));
            });

            jQuery('#add-another-candidate').click(function(e) {
                e.preventDefault();

                var candidateList = jQuery('#realisation_registration_candidates');

                var newWidget = candidateList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, candidateCount);
                candidateCount++;

                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(candidateList);

                addTagFormDeleteLink(newLi);
            });

            if (0 === $collectionHolder.find('div').length) {
                jQuery('#add-another-candidate').trigger('click');
            }
        });

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<a href="#" class="wc-btn btn-delete" style="display: block;">Retirer ce candidat</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                e.preventDefault();

                $tagFormLi.remove();
            });
        }
    </script>

{% endblock %}
