{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <p class="wc-admin-welcome"></p>
    <div class="wc-container">

        <div class="col-sm-12">
            <div class="formLogin">
            {{ form_start(form) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'inputLogin', 'placeholder': "Email"}}) }}

                {{ form_errors(form.role) }}
                {{ form_widget(form.role, {'attr': {'class': 'inputLogin', 'placeholder': "Role"}}) }}

                <button type="submit" class="btnLogin">Inviter</button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
