{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <p class="wc-admin-welcome"></p>
    <div class="wc-container">

        <div class="col-sm-12">
            <div class="formLogin">
            {{ form_start(form) }}
                {{ form_errors(form.email) }}
                <div class="flex">
                    {{ form_label(form.email, 'E-mail') }}
                    {{ form_widget(form.email, {'attr': {'class': 'inputLogin', 'placeholder': "E-mail"}}) }}
                </div>

                {{ form_errors(form.role) }}
                <div class="flex">
                    {{ form_label(form.role, 'Type d\'utilisateur') }}
                    {{ form_widget(form.role, {'attr': {'class': 'inputLogin'}}) }}
                </div>

                <button type="submit" class="btnLogin">Inviter</button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
