{% extends 'AppBundle::layoutBO.html.twig' %}

{% block main %}
    <div class="wc-title-banner">
        <h2>Gestion des utilisateurs</h2>
    </div>

    <div class="wc-container">
        <div class="col-sm-12">
            <div class="wc-admin-block">
                <div class="row no-margin">
                    <p class="col-sm-12 wc-admin-subtitle">Gestion des admins</p>
                </div>
                <div class="wc-admin-row">
                    <div class="row">
                        <table class="table table-striped table-list-admininistrators">
                            <thead>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>E-Email</th>
                            <th>Action</th>
                            </thead>
                            <tbody>
                            {% for administrator in administrators %}
                                <tr style="text-align: left;">
                                    <td class="col-md-3">{{ administrator.identity.firstName }}</td>
                                    <td class="col-md-3">{{ administrator.identity.lastName }}</td>
                                    <td class="col-md-3">{{ administrator.identity.email }}</td>

                                    <td class="col-md-3">
                                        <a href="{{ path('admin.administrator.delete', {'administratorId': administrator.id}) }}">
                                            <button type="button" class="btn-admin-form btn-delete" name="button">
                                                Supprimer
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div>
                            <a class="col-md-3" href="{{ path('admin.user.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Tous</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.juror.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Jurés</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.administrator.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Administrateurs</button>
                            </a>
                            <a class="col-md-3" href="{{ path('admin.campaign_administrator.list') }}">
                                <button type="button" class="btn-admin-form btn-modify">Administrateurs de campagne
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
