{% extends 'AppBundle:Admin:layoutAdmin.html.twig' %}

{% block body %}
    <div class="admin page-wrap">
        <div class="wc-title-banner">
            <h2>Juror list</h2>
        </div>
        <div class="wc-container">
            <div class="col-sm-12">
                <div class="wc-admin-block">
                    <div class="row no-margin">
                        <p class="col-sm-12 wc-admin-subtitle">Gestion des jurés</p>
                    </div>
                    <div class="wc-admin-row">
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Email</td>
                                        <td>Nom</td>
                                        <td>Prenom</td>
                                        <td>
                                        </td>
                                    </tr>
                                </thead>
                                {% for juror in jurors %}
                                    <tr>
                                        <td><a href="{{ path('admin.juror.show', {'jurorId': juror.id}) }}">{{ juror.identity.email }}</a></td>
                                        <td>{{ juror.identity.lastname }}</td>
                                        <td>{{ juror.identity.firstname }}</td>
                                        <td>
                                            <a href="{{ path('admin.juror.delete', {'jurorId': juror.id}) }}"><button type="button" class="btn-admin-form btn-modify" name="button">Supprimer</button></a>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin.juror.update', {'jurorId': juror.id}) }}"><button type="button" class="btn-admin-form btn-modify" name="button">Modifier</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                            <div class="row">
                                <a class="col-md-4" href="{{ path('admin.juror.list') }}"><button type="button" class="btn-admin-form btn-modify">Jurés</button></a>
                                <a class="col-md-4" href="{{ path('admin.administrator.list') }}"><button type="button" class="btn-admin-form btn-modify">Administrateurs</button></a>
                                <a class="col-md-4" href="{{ path('admin.campaign_administrator.list') }}"><button type="button" class="btn-admin-form btn-modify">Administrateurs de campaigne</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
