{% extends 'AppBundle::layoutFO.html.twig' %}

{% block main %}
    <div class="col-sm-12 no-padding">
        <div class="home index page-wrap">
            <div class="wc-title-banner">
                <h2>Campagne</h2>
            </div>
            <div class="wc-container">
                <div class="col-sm-12">
                    <div class="wc-admin-block">
                        <div class="campaignIndividual">

                            <img src="{{ asset(campaign.imagePath) }}"/>

                                <table class="table table-striped" style="margin-bottom: 5px;">
                                    <thead>
                                        <tr>
                                            <td>Début</td>
                                            <td>Fin</td>
                                            <td>Créateur</td>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td>{{ campaign.beginningDate }}</td>
                                        <td>{{ campaign.endDate }}</td>
                                        <td>{{ campaign.creator.firstName }} {{ campaign.creator.lastName }}</td>
                                    </tr>
                                </table>
                            <div class="campaignIndividualDiv">
                                <h4 class="campaignIndividualLabel">Nom de la campagne : </h4>
                                <p>{{ campaign.name }}</p>
                            </div>
                            <div class="campaignIndividualDiv">
                                <h4 class="campaignIndividualLabel">Description : </h4>
                                <p>{{ campaign.description }}</p>
                            </div>
                            <div class="campaignIndividualDiv">
                                <h4 class="campaignIndividualLabel">Détails : </h4>
                                <p>{# { campaign.publicResults }#}</p>
                            </div>
                            <div class="campaignIndividualBtn">
                                <a href="{{ path('public.realisation.register', {'campaign': campaign.id}) }}"
                                   class="btn-admin-form btnLogin">Déposer une réalisation</a>
                                <a href="{{ path('public.campaign.list') }}" class="btn-admin-form btnLogin">Retour liste</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
